## Load Libraries

In [10]:
import json
from random import randint, sample
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
from glob import glob

np.set_printoptions(suppress=True)

pd.set_option('display.max_rows', 150)

In [11]:
root_dir = "/Users/liuziyi/Documents/Lifesense/Data/SleepTracker/437"

In [17]:
record_paths = glob(os.path.join(root_dir, "raw/*.csv"))

In [25]:
for rp in record_paths[:1]:
    record = pd.read_csv(rp, engine="python", header=None)
    record = record.loc[record[0] == 2, [1, 2, 3]].values
    hr = [1] * record.shape[0]
    hr_switch = hr
    hr_wear_indicator = hr
    # record = np.c_[hr, reocrd, hr_switch, hr_wear_indicator]

ERROR! Session/line number was not unique in database. History logging moved to new session 1046

In [21]:
record_paths

['/Users/liuziyi/Documents/Lifesense/Data/SleepTracker/437/raw/ls_data_20201126003829.csv',
 '/Users/liuziyi/Documents/Lifesense/Data/SleepTracker/437/raw/ls_data_20201126003712.csv']

In [24]:
record

           1     2       3
2      -5632 -1600  5888.0
3      -5632 -1600  5696.0
4      -5696 -1536  5632.0
5      -5632 -1472  5504.0
6      -5568 -1792  5376.0
...      ...   ...     ...
673049  1536  1536  8000.0
673050  1536  1664  8000.0
673051  1536  1600  7936.0
673052  1664  1664  7936.0
673053  1600  1600  7936.0

[673052 rows x 3 columns]